# dependencies
node_modules

# next
.next
next-env.d.ts
out

# production
build
dist
.demo-director-cache

# local env
.env*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# tests
test-results
playwright-report
tsconfig.tsbuildinfo

# system
.DS_Store
.vercel
